/*!
 * Main content
 */

.main {
  margin-top: 50px;

  & .header-bg {
    background: $black url("../images/bg-header.jpg") center top no-repeat;
    height: 688px;

    @media screen and (max-width: 767px) {
      height: auto;
    }
  }

  & img.title {
    width: 100%;
    max-width: fit-content;
    max-width: -moz-max-content;
  }

  & .order {
    background: rgba(255,255,255,.35);
    padding: 30px;

    & input {
      width: 100%;
      margin-bottom: 10px;
      padding: 20px 10px 5px;
      color: $white;
      background: $black;
      border: 0;
    }
  }

  .icon {
    font-size: 48px;
    border: 2px solid $white;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    line-height: 60px;
  }
}
